---
http_interactions:
- request:
    method: post
    uri: https://api.cnova.com/api/v2/orders/219801/ordersItems/trackings/
    body:
      encoding: UTF-8
      string: '{"orderItemId":["21932894-1"],"controlPoint":"EPR","occurenceDt":"2014-05-21
        00:00:00.00","carrierName":"Carrie","originDeliveryId":"SW896927135BR","accessKeyNfe":"35140513933305000289550010000594411422441779"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - F6Y2DJkFtLL2
      Access-Token:
      - bEptWFqM72U0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Fri, 13 Nov 2015 14:49:56 GMT
recorded_with: VCR 2.9.3
